.bingo-game {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .player-card {
    margin-top: 20px;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 5px;
    margin-top: 10px;
  }
  
  .card-cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .draw-number {
    margin-top: 20px;
  }
  
  .draw-number button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .draw-number button:hover {
    background-color: #0056b3;
  }
  
  .tile, .tile-black {
    height: 50px;
    width: 50px;
    position: relative;
    font-size: 20px;
  }
  .tile-black {
    background-color: gray;
  }
  .mask{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 40px;
  }